html,
body{
  background-color: #171717;
  margin:0;
  padding:0;
}
label{
    color: #FFFFFF;
}
button{
  background-color: cornflowerblue;
}

img{
  display:block;
  /*margin: 10px 30px;*/
  /*border-bottom:1px solid black;*/
  height:520px;
  width:700px;
  padding-left: 17px;
}

#Postcard{
  top:350px;
  left:50%;
  position:absolute;
}

.postcard{
  width:800px;
  height:550px;
  background-color: white;
  transform:translate(-70%, -30%);
  /*left:50%;*/
  /*top:50%;*/
  overflow: hidden;
  position:relative;
  padding:12px;
  margin-bottom: 12px;
  margin-left: 25px;
}
.stample{
  width:70px;
  height:70px;
  position:absolute;
  right: 20px;
  border:1px solid black;
}
.postcard_title{
  font-family:'Indie Flower';
  position:absolute;
  background-color: white;
  padding-left: 17px;
  board-radius: 20x;
  padding: 20px;
}
/* Wiki contend */
.content-left{
  width:calc(60%);
  font-family:'Indie Flower';
  font-size:14px;
  /* space between line*/
  line-height:1.2;
  float:left;
  margin: 20px;
  padding: 10px;
  padding-left-alt: 20px;
  overflow: hidden;
}
.content-right{
  width:40%;
  position: absolute;
  /*float:right;*/
  top: 250px;
  left: 500px;
}

.centerline{
  position:absolute;
  height: 450px;
  border-left: solid black 1px;
  top: 50px;
  left: 500px;
}

.adress-line{
  display:block;
  margin: 10px 30px;
  font-family:'Indie Flower';
  border-bottom:1px solid black;
}