{% load staticfiles %}
<html>
    <head>
        <title>PostCard-MashUp</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/todo.css' %}">
    </head>


    <body class="align">
      <div class="container">
      <br />
      <form class="search-keyword" action="/" method="post">
        {% csrf_token %}
      <label>Enter search keyword:</label><br />
      <input type="text" class="tname" name="search" placeholder="search_keyword"><br /> <br />

      <p></p>
          <button type="submit" value=" " class="button"> Search </button></form>
          <form class="search-keyword" action="/" method="post">

          <br />
      <hr />

        </form>
      </div>

    <div id="Postcard">
        {% if Postcard %}
            <b>Search string:</b> <i>{{Postcard.search_string}}</i><br/>
            <b>Image URL:</b> {{ Postcard.image }}<br/>
            <b>Tweet text:</b> {{ Postcard.tweet_text }}<br/>
            <b>Wiki snippet:</b> {{ Postcard.wiki_sentence}}<br/>
        {% else %}
            No Postcard data found.
        {% endif %}
    </div>
    </body>
</html>
