{% load staticfiles %}
<html>
<head>
    <title>PostCard-MashUp</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href="https://fonts.googleapis.com/css?family=Aref+Ruqaa|Indie+Flower" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="static/Style.css"/>
    <link rel="stylesheet" type="text/css" href="{% static 'Style.css' %}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="{% static 'jquery.flip.js' %}"></script>
</head>


<body>
<aside>
{% if keywords %}
    {% for k in keywords %}
        <a href="/keyword/{{k.search_string}}/">{{k.search_string}}</a><br/>
    {% endfor %}
{% endif %}
</aside>

<div class="container">
    <div id="heading">
    <h1>Postcard Mashups!</h1>
    <div id="searchform">
        <form class="search-keyword" action="/" method="post">
            {% csrf_token %}
            <label>Create your own Postcard Mashup!  Enter a search keyword:</label><br/>
            <input type="text" class="tname" name="search" placeholder="search_keyword" required>
            <button type="submit" value=" " class="button"> Search</button><br/>
            <label>Or <a href="/">see the five newest postcards</a>!</label>
        </form>
    </div>
    </div>

        {% if Postcards %}
            <div id="Postcard">
            {% for Postcard in Postcards %}
                <div id="Postcard_{{Postcard.id}}" class="postcard ">
                    <div class="front">
                    <!--User the search keywork for the post card title -->
                    <h1 class="postcard_title">{{Postcard.search_string}}</h1>
                    <!--Image from Pixabay-->
                    <img src="{{ Postcard.image }}">
                        <audio  id ="PlayaBle"class="audioDemo" src="/static/Less Than 30 Seconds Of Music!.mp3"
                                controls="controls">
                            </audio>
                        <!--hidden="Y" autoplay="Y"-->
                    </div>
                    <!--Add the wiki result to the left of the postcard as our main /Users/chitrakakkar/Desktoptext-->
                    <div class=" back ">
                        <div><img class="stamp" src="../../static/image/postcard-stamp.jpg"/></div>
                            <!--Twitter message-->
                            <p class="tweet">{{ Postcard.tweet_text }}<br/></p>
                        <div class="content-left">

                            <!--Wiki text-->
                            <p><b>Wiki snippet:</b>{{ Postcard.wiki_sentence}}<br/></p>

                        </div>
                        <div class="centerline"></div>
                        <div class="content-right">
                            <span class="adress-line"> <br/>Lorem Ipsum</span>
                            <span class="adress-line"> <br/>2 Mayfair Ave. </span>
                            <span class="adress-line"> <br/>Absecon, NJ 08205</span>
                        <br/>
                        </div>
                    </div>



                </div>
            {% endfor %}
            </div>
        {% endif %}
        </form>
</div>
<script type="text/javascript">
    $(function ($)
    {
        $(".postcard").flip({tiggle: 'hover', speed: 15000})
    })
  $(".audioDemo").ready(function()
  {
        $('#PlayaBle').click(function()
        {
             $(".audioDemo").trigger('play');
        });

    });


</script>
</body>
</html>